body{
    margin: 0;
    font-family: "Noto Sans";
}
p{
    margin: 0;
}
@media all and (max-width:479px) {
    body{
        background-color: black;
    }
    #wrap{
        background: #ffffff8a;
        height: 100%;
        padding: 5vh 5vw;
    }
    #main-background{
        overflow: hidden;
        height: 100%;
        position: absolute;
        top: 0;
        object-fit: fill;
        z-index: -1;
    }

    .temp_area{
        display: flex;
        margin-top: 2vh;
    }

    #temp{
        font-size: 16vw;
    }

    .minmax_area{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 12px;
    }
    .title-icon{
        width: 20vw;
    }
}