body{
    margin: 0;
}
p{
    margin: 0;
}
@media all and (max-width:479px) {
    body{
        background-color: black;
    }
    #main-background{
        width: 100%;
        overflow: hidden;
        height: 100%;
        position: absolute;
        top: 0;
        object-fit: fill;
        z-index: -1;
    }

    .title-area{
        width: 50vw;
        margin: 0 auto;
        text-align: center;
        padding: 4vh;
        background: #ffffff8a;
        border-radius: 20px;
        /* filter: blur(1px); */
    }
    .title-icon{
        width: 20vw;
    }
}